apiVersion: v1
kind: ConfigMap
metadata:
  name: ecommerce-config
  namespace: ecommerce
data:
  API_PORT: "8080"
  DB_HOST: "postgres.ecommerce.svc.cluster.local"
  DB_NAME: "store"
  DB_PORT: "5432"
